.option_title{
    height: 0.55rem;
    line-height: 0.55rem;
    /*background-color: rgba(55, 142, 248, 0);*/
    color: #333333;
    position: relative;
    border-bottom:1px solid #dfdfdf;
    margin-bottom:0.2rem;
}
.option_title::before{
    position: absolute;
    content: '';
    width: 0.03rem;
    height: 0.18rem;
    background: #58b481;
    left: 0rem;
    top: 0.19rem;
}
.option_title .option_title_name{
    font-size: 0.18rem;
    padding-left: 0.1rem;
    float: left;
    line-height: 0.55rem;
}
.option_title .option_title_name p{
    font-size: 0.18rem;
}